# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [9]:
df = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [54]:
df.head(20)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
8,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD)-EMT,FIRE,F,Salary,NaN,107106.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
10,"AGOSTO, HECTOR I",POLICE OFFICER/EXPLSV DETECT K9 HNDLR,POLICE,F,Salary,NaN,94524.0,NaN
11,"AGREDANO, ELIAS",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
12,"AGREDANO, MARIO",BRIDGE OPERATOR,TRANSPORTN,F,Salary,NaN,67896.0,NaN
13,"AGRON, EDUARDO",SERGEANT,POLICE,F,Salary,NaN,122472.0,NaN
14,"AGRON, EDWIN",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
17,"AGUADA, GILBERT GLENN",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
18,"AGUAS, ALEX",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
19,"AGUAYO, BRAULIO",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,89148.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [12]:
df.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [13]:
df['Salary or Hourly'].value_counts(dropna=False)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [15]:
df['Department'].value_counts(dropna=False)

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [19]:
hourly = df['Hourly Rate'].dropna()
hourly

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

In [113]:
# we can find out the sample mean, it is 
sum(hourly)/8174

34.58644971862046

In [114]:
np.std(hourly)/np.sqrt(99)

1.335165627226989

In [115]:
# we can find a confidence interval for the population based on our sample
import scipy.stats

confidence_level = 0.95
#confidence_level = 1  (-inf, inf)
degrees_freedom = len(hourly) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(hourly)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly) # sem = standard error of the mean = std(patients)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [116]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

In [117]:
sample_standard_error

0.14694742867989574

In [22]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly, 30)

In [23]:
# someone thinks (hypothesises) that the mean of 
# the hourly wage of all hourly workers is significantly different from $30/hr

# we select a value for alpha of 0.05 (p-value threshold, significance level)
# Two-sided test:
# Null hypothesis or H0: mean hourly wage = 30
# Alternative hyp or H1: mean hourly wage <> 30

print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [ ]:
# pvalue = probability of getting the result (mean) that we have, 
#          IF the  hourly wage mean is equal to 30

# p is very low, null must go: we reject the H0
# so we assume the actual hourly wage of all hourly workers mean is different from $30/hr.


# stat gives the distance (in sample sem (standard error of the mean)) of the hypothesised value to the sample mean

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [41]:
police = df.query('Department == "POLICE" and `Salary or Hourly` == "Salary"')['Annual Salary'].dropna()

police.head(20)

1      93354.0
4      90024.0
6     111444.0
7     103932.0
9      95736.0
10     94524.0
11     48078.0
13    122472.0
14     90024.0
17     84054.0
18     84054.0
27    111444.0
28     94122.0
31     48078.0
35     93354.0
37     72510.0
39     84054.0
40     87006.0
42     72510.0
43    111444.0
Name: Annual Salary, dtype: float64

In [35]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(police, 86000)

In [37]:
# One-sided test:
# Null hypothesis or H0: mean  salaries this year <= 86000
# Alternative hyp or H1: mean  salaries this year > 86000

print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   18.51748561981861
pvalue for the one-tailed test is  6.119566952121482e-76

In [ ]:
# p is very low < 0.05 , reject H0 '=86000'.
# stat is 18.517 , reject H0 '< 86000'
# so H1 is true
# police salaries this year are higher than last year's mean of $86000/year a year for all salaried employees

Using the `crosstab` function, find the department that has the most hourly workers.

In [86]:
data_crosstab = pd.crosstab(df['Department'],df['Hourly Rate'],margins = True)
data_crosstab

Hourly Rate,2.65,8.25,9.74,10.0,10.5,12.0,13.0,13.4,13.45,13.94,...,53.4,53.91,54.05,54.1,55.1,57.04,58.4,61.65,128.0,All
Department,,,,,,,,,,,,,,,,,,,,,
ANIMAL CONTRL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
AVIATION,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,12,0,0,0,1214
BUDGET & MGMT,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,2
BUSINESS AFFAIRS,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,7
CITY COUNCIL,0,4,0,2,1,5,5,0,1,0,...,0,0,0,0,0,0,0,0,0,74
CULTURAL AFFAIRS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
DAIS,0,0,0,0,0,0,0,0,0,0,...,0,0,1,24,4,10,0,0,0,745
DISABILITIES,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
FAMILY & SUPPORT,260,0,0,0,0,0,41,0,0,0,...,0,0,0,0,0,0,0,0,0,357
FINANCE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,45
HEALTH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
HOUSING & ECON DEV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
LAW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,48
MAYOR'S OFFICE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
OEMC,0,0,0,0,0,0,0,0,0,49,...,0,0,0,0,0,0,0,0,0,1077
POLICE,0,0,2,0,0,11,11,0,0,0,...,0,0,0,0,0,0,0,0,0,24
PROCUREMENT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
PUBLIC LIBRARY,0,0,0,0,0,0,0,107,0,0,...,0,0,0,0,0,0,0,0,0,356
PUBLIC SAFETY ADMIN,0,0,0,0,0,0,0,0,0,0,...,9,0,0,0,0,0,0,0,0,48
STREETS & SAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,1846
TRANSPORTN,0,0,0,0,0,0,0,0,0,0,...,39,0,1,0,1,0,10,0,0,726
WATER MGMNT,0,0,0,0,0,0,0,0,0,0,...,0,1,28,0,4,46,0,0,0,1558
All,260,4,2,2,1,16,62,107,1,49,...,48,1,30,24,12,68,10,1,1,8174

In [ ]:
# it's STREETS & SAN with 1846 hourly workers

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [87]:
hourly_wage = df[df['Department']== "STREETS & SAN"]
hourly_wage = hourly_wage['Hourly Rate'].dropna()
hourly_wage

15       40.78
16       38.52
26       38.52
49       29.96
65       37.45
         ...
33623    38.01
33624    37.45
33667    37.45
33668    38.52
33676    25.95
Name: Hourly Rate, Length: 1846, dtype: float64

In [88]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly_wage, 35)

# One-sided test:
# Null hypothesis or H0: mean  hourly wage >= 35
# Alternative hyp or H1: mean  hourly wage < 35

print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

In [ ]:
# p is very low < 0.05 , reject H0 '=86000'.
# stat is  4 , reject H1 '< 35'
# so H1 is not ture
# their hourly wage is not less than $35/hour

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [89]:
hourly

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

In [90]:
# we can find out the sample mean, it is 
sum(hourly)/8174

34.58644971862046

In [91]:
np.std(hourly)/np.sqrt(99)

1.335165627226989

In [92]:
# we can find a confidence interval for the population based on our sample
import scipy.stats

confidence_level = 0.95
#confidence_level = 1  (-inf, inf)
degrees_freedom = len(hourly) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(hourly)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly) # sem = standard error of the mean = std(patients)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [93]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

In [94]:
sample_standard_error

0.14694742867989574

In [95]:
(34.29839539204361 + 34.874504045197305)/2
#same like sample mean

34.58644971862046

In [ ]:
# about 95% of the confidence intervals would contain the tru(unknown) value of the population mean.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [106]:
police_salary = df[(df['Department'] == 'POLICE') & (~df['Annual Salary'].isnull())]

police_salary = police_salary['Annual Salary']
police_salary

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: Annual Salary, Length: 13824, dtype: float64

In [107]:
# the sample mean
sum(police_salary)/13824

88834.11892361111

In [108]:
np.std(police_salary)/np.sqrt(99)

1808.5045700417468

In [109]:

#confidence_level = 1  (-inf, inf)
degrees_freedom = len(police_salary) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(police_salary)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(police_salary) # sem = standard error of the mean = std(patients)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [110]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

In [111]:
sample_standard_error

153.0509585263483

In [112]:
(88534.1182885883 + 89134.11955863392)/2
#same like sample mean

88834.11892361111

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: